img {
    display: block;
    margin: 0px auto;
    border-radius: 0%;
    border: 2px solid #0388A6;
}

body {
    font-family: 'Helvetica Neue', sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #261D18; /* Cor de fundo principal */
    color:#ffffff; /* Cor do texto principal */
}

header {
    background-color: #733119; /* Cor secundária */
    color: #261D18;
    padding: 25px 2px;
    text-align: left 4px;
} 

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}
nav a:hover {
    color: rgb(60, 30, 20);

}
